* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    max-width: 1280px;
 
}
a {
   text-decoration: none;
   color: inherit;

}
ul {
    list-style-type: none;
    padding-left: 0;       
}

body {
    font-family: montserrat, sans-serif;
    font-style: none;
    max-width: 1280px;
    margin: none;
    overflow-x: hidden;
    
}



#top {
    
    position: relative;
    display: flex;
    flex-direction: column;
    height: 780px;
    width: 180%;
    background-image: url(/imagens/dog.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 132%;
    box-shadow: 
        inset -10px 0 300px rgba(0, 0, 0, 0.7), /* Vinheta esquerda */
        inset -20px 0px 800px rgba(0, 0, 0, 0.7); /* Vinheta direita */

}

#nav-menu {
    margin-top: 30px;
    margin-left: 50px;
    max-width: 1180px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
       
}     
.logo {
        width: 159px;
        height: 32px;
        margin-right: 50px;
        
    }
  
#nav-menu ul { 
        font-size: 14px;
        display:flex;
        flex-direction: row;
        gap: 60px;
        margin-right: 180px;
}
#nav-menu ul a {
            color: aliceblue;
        }
               
    


#top .button-top {
        width: 120px;
        height: 40px;
        background-position: relative;
        border: 1px solid #667085;
        border-radius: 50px;
        background-color: white;
        font-weight: bold;
              
    
} 
        
    

#hero_1 {
  
    color: #FFFFFF;
    width: 630px;
    height: 390px;
    margin-top: 130px;
    margin-left: 60px;
}

#hero_1 h1 {
        color: #FFFFFF;
        font-size: 50px;
        margin-bottom: 16px;
}

#hero_1 p {
        color: #FFFFFF;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 16px;
}

#hero_1 .custom-button {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 10px 20px;
        color: inherit;
        width: 184px;
        height: 64px;
        background: none;
        border: 0.2px solid white;
        border-radius: 50px;
        cursor: pointer; 
        font-size: 16px;
}
    #hero_1 .custom-button img {
        height:30px ;
        width: 30px;
}

h2 {
    color: #101828;
    gap:10px;
    font-weight: 600;
    display: flex;
    margin-left: 30px;
    padding-bottom: 10px;
    font-size:28px;
    max-width: 1190px;
    height: 70px;
    border-bottom: 1px solid rgb(188, 184, 184);
    align-items: center;
}  

h2 img {
    width: 28px;
    height: 28px;
} 

.hero_2 {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    height: auto;
    color: #101828;
}    

    
.shop-box {
    align-self: center;
    margin-left: 70px;
    margin-right: 45px;
    margin-top: 40px;
    padding: 20px;
    border: 0.2px solid rgb(188, 184, 184);
    border-bottom: none;
    display: flex;
    flex-direction: column;
    width: 980px;
}

.shop-box header .search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.shop-box header .search-bar h3 {
    font-size: 24px;
}
.shop-box header input {
    width: 230px;
    height: 35px;
    border-radius: 50px;
    background-color: #F4F4F4;
    padding-left: 40px;
    background-image: url(/imagens/Search.png);
    background-position: left 10px center;
    background-repeat: no-repeat;

}

.shop-box header nav {
    margin: 20px;
    display: flex;
    justify-content: center;
}               

.shop-box header nav ul {
    display: flex;
    gap: 10px;
}

.shop-box header nav ul button { 
    width: 90px;
    height: 30px;
    border-radius: 8px;
    font-size: 12px;
    border-color: transparent;
    background-color: transparent;
}
.shop-box header nav ul button.selected {
    background-color: #011327; 
    color: white; 
}

#shop article .products-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    align-items: center;
}
#shop article .products-box .product-item img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    transition: 0.3s ease;
    display: block;
    
   }
#shop article button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    float: right;
    margin-top: 20px;
}

#shop article .products-box .product-item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
}
#shop article .products-box .product-item:hover img {
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5); 
}

#shop article .products-box .product-item .product-price,
#shop article .products-box .product-item .product-favorite,
#shop article .products-box .product-item .product-description,
#shop article .products-box .product-item .product-quantity,
#shop article .products-box .product-item .add-to-cart {
    position: absolute;  
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;

   }
#shop article .products-box .product-item:hover .product-price,
#shop article .products-box .product-item:hover .product-favorite,
#shop article .products-box .product-item:hover .product-description,
#shop article .products-box .product-item:hover .product-quantity,
#shop article .products-box .product-item:hover .add-to-cart {
       opacity: 1;
}

#shop article .products-box .product-item .product-price{
    top: 10px;
    left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    z-index: 11;
   }

#shop article .products-box .product-item .product-favorite{
    background-image: url(imagens/favorite-icon.png);
    top: -5px;
    right: 10px;
    z-index: 10;
}
#shop article .products-box .product-item .product-favorite img{
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    top: 10px;
    right: 10px;
    border:none;
    z-index: 15;
}
#shop article .products-box .product-item .product-description{
    bottom: 50%; 
    left: 25px;
    color: white;
    text-align: center;
    z-index: 10;
}
#shop article .products-box .product-item .product-quantity {
    bottom: 10px;
    left: 15%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    width: 60px; 
    height: 30px; 
    z-index: 10;
    color: #F4F4F4; 
    background-color: #3722c0; 
    gap: 5px; 
    border-radius: 8px;
    padding: 0;
    margin: 0;
}

#shop article .products-box .product-item .product-quantity .increase,
#shop article .products-box .product-item .product-quantity .decrease {
    display: flex; 
    justify-content: center; 
    color: #F4F4F4; 
    background-color: #3722c0; 
    line-height: 30px;
    width: 20px; 
    height: 100%;
    border: none;
    cursor: pointer; 
    font-size: 16px; 
    padding: 0;
    margin: 0;
    
}

#shop article .products-box .product-item .product-quantity .quantity {
    font-size: 14px; 
    text-align: center; 
    width: 20px; 
    line-height: 30px;
    padding: 0;
    margin: 0;
}

#shop article .products-box .product-item .add-to-cart {
    height: auto;
    bottom: 10px;
    right: 15%;
    padding: 8px 12px;
    background-color: #3722c0;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
}

#services article {
    max-width: 1280px;
    margin-left: 70px;
    margin-right: 45px;
    margin-top: 45px;
    padding: 20px;
    border: 0.2px solid rgb(188, 184, 184);
    border-bottom: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-self: center;
}
#services article .service-item {
    text-align: justify;
    font-size: 10px;
    width: 280px;
    height: 280px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
#services article .service-item h2{
    font-size: 14px;
    
}

#services article .service-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: all 0.3s ease;

}



#services article .service-item h3, 
#services article .service-item p {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    color: white;
    transition: opacity 0.3s ease, top 0.3s ease;
    text-align: center;
    margin:0;
    width: 90%;
    box-sizing: border-box;

}

#services article .service-item h3 {
    top: 50%;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 10;
}

#services article .service-item p{
    top: 30%;
    font-size: 10px;
    opacity: 0;
    text-align:justify;

}

#services article .service-item .button {
    position:absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
    background-color: #3722c0;
    color: #FFFFFF;
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

#services article .service-item .adoption {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    top: 50%;
    font-size: 20px;
    font-family: montserrat;
    background: none;
    border: none;
    color:#FFFFFF;
    text-align: center;
    cursor: pointer;
    z-index: 10;
    }

#services article .service-item:nth-child(3) {
   
    grid-row: span 2; 
    object-fit: cover;
    width: 280px;
    height: 100%;
  }

  #services article .service-item:nth-child(3):hover h3 {
    top:50%
  }

  
#services article .service-item:hover img {
    filter: brightness(70%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}
#services article .service-item:hover h3 {
    top: 15%;

}

#services article .service-item:hover p {
    opacity: 1;
}

#services article .service-item:hover .button {
    opacity: 1; 
    transform: translateX(-50%) translateY(-10px);
    z-index: 10;
}
#about article {
    display: flex;
    align-self: center;
    max-width: 1020px;
    height: 580px;
    margin-left: 70px;
    margin-right: 45px;
    margin-top: 45px;
    padding: 40px 50px 50px 50px;
    border: 0.2px solid rgb(188, 184, 184);
    display: flex;
    flex-direction: row;
}

#about article section p {
    max-width: 500px;
    font-size: 14px;
    text-align: left;
}

#about article .cats {
    margin-left: 100px;
    background-image: url(aboutus/gato2.png);
    background-size: 140% auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 340px; 
    height: 440px; 
    position: relative; 
    border-radius: 10px;
}   


#about article .cats #little-cat {
position:absolute;
bottom: -70px;
left: -80px; 
width: 180px;
border-radius: 10px;
border: 10px solid white;
background-color: white;


}
#about article .cats #little-cat img{
    width: 100%;
    border-radius: 10px;
    
    
}

#team {       
        display: flex;
        flex-direction: column;
    }
#team .team {
    margin: 20px 40px 20px 40px;
    width: 90%;  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#team .team a img {
    border: none;
    width: 80%;
    height: auto;
    
    
}

#blog {
    
    display: flex;
    flex-direction: column;
    gap: 64px;
    height: 900px;
}

#blog article {
    
    display: flex;
    flex-direction: row;
    

}
#blog article .text{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-left: 50px;
}

#blog article .text .txt {
    margin: 10px;
    margin-bottom: 0;
    text-align: justify;
    font-size: 18px;
    color: #667085;
   
}

#blog article .text h2 {
    margin: 0%;
    padding: 10px 10px 10px 10px;
    height: 65px;
    font-size: 22px;
    border-bottom: 0.2px solid #EAECF0;
}
#blog article .text h3 {
    color: #101828;
    margin: 10px;
    font-size: 18px;
}

#blog article .text .read-more {
    width: 149px;
    height: 60px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #101828, #233250);
    color: #ffffff;
    margin-left: 8px;
    margin-top: 20px;
}
#blog .video-container {
    background-image: url(/imagens/Image.png);
    width: 550px;
    height: 640px;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden; 
    cursor: pointer;
    pointer-events: all;
    z-index: 1;
}
#blog .video-container .video-background {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    
}
#contact {
    overflow: hidden;
    background-color: #011327;
    color: #F4F4F4;
}
#contact h2 {
    color: #ffffff;
    border-bottom: 1px solid #667085;

}

#contact article {
    display: flex;
    flex-direction: row;
    padding: 70px 40px 70px 40px;
    gap: 30px;
}

#contact #form_contact {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: #000000;
    width: 576px;
    height: 574px;
    border-radius: 16px;
    gap: 32px;
    padding: 40px 32px 40px 32px;
    font-size: 14px;
    align-items: center;
}

#contact #form_contact #fullname {

  display: flex;
  flex-direction: row;
  width: 480px;
  height: 74px;
  gap: 32px;
  }
  #contact #form_contact #fullname p input {
    width: 224px;
    border: 1px solid #D0D5DD;
    
  }

#contact #form_contact p input {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 12px 16px 12px 16px;
    border: 1px solid #D0D5DD;
    border-radius: 5px;
    height: 48px;
    width: 480px;
}

#contact #form_contact p #message {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding-left: 10px;
    border: 1px solid #D0D5DD;
    border-radius: 5px;
    width: 480px;
}

#contact #form_contact #fullname label {
    margin-bottom: 4px;
}
#contact #form_contact #checkbox {
    color: #667085;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

}
#contact #form_contact #checkbox a {
    text-decoration: underline;
}

#contact #form_contact #checkbox input {
    width: 20px;
    height: 20px;
    border-radius: 8px;
    border: 0.2px solid #D0D5DD;
}

#contact #form_contact button {
    width: 480px;
    height: 64px;
    border-radius: 8px;
    color: #F4F4F4;
    background-image: linear-gradient(to right, #101828, #233250)
}


#contact article aside {
    margin: 32px 32px 62px 32px;
    gap: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
#contact article aside .to_contact {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: auto;
    gap: 14px;
}

#contact #to_contact .to_contact .contact-icon {
    width: 18px;
    height: 18px;
    
}

#contact #to_contact .to_contact .contact-title {
    font-size: 18px;
    line-height: 30px;
}
#contact #to_contact .to_contact .contact-info{ 
    line-height: 24px;
    font-size: 14px;
    color: #CECECE;

}

#contact #to_contact .to_contact .contact-link {
    line-height: 24px;
    align-self: flex-start;
    padding: 0;
    color:#FFFFFF;
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 14px;

}
#end {
    background-color: #011327;
    color: #F4F4F4;
}

#end #join {
    display: flex;
    flex-direction: row;
    gap: 32px;
    height: 134px;
    width: 1280px;
    overflow: hidden;
    border-top: 1px solid #667085;
    padding-top: 50px;

}
#end #join .join {
    margin-left: 50px;
    width: 773px;
    height: 30px;
    gap: 8px;
    font-size: 20px;
    line-height: 30px;
}

#end #join .join p:nth-child(1) {
    color: #FFFFFF;
}

#end #join .join p:nth-child(2) {
    color: #CECECE;
}

#end #join input {
    padding-left: 10px;
    border-radius: 8px;
    width: 230px;
    height: 40px;
}
#end #join button {
    border-radius: 8px;
    width: 115px;
    height: 40px;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    width: 1080px;
    height: 437px;
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
    padding-top:100px;
   

}
#footer .footer-column {
    display: flex;
    flex-direction: column;
    gap:16px;
}

#footer .footer-column span{
    font-weight: normal;
    color: #CECECE;
}

#footer .footer-column nav {
    color: #cecece;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#footer .footer-column nav li {
       list-style: none;
}
#footer #text {
    width: 300px;
    font-size: 16px;

}

footer {

    border-top:1px solid #667085;
    margin: 20px 0px 0px 30px;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1180px;
    height: 100px;
    align-items: center;
    background-color: #011327;
}

footer .social-icons {
    display: flex;
    width: 300px;
    justify-content: space-evenly;

}