* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
a {
   text-decoration: none;
   color: inherit;

}
ul {
    list-style-type: none;
    padding-left: 0;       
}
body {
    font-family: montserrat, sans-serif;
    font-style: none;
}

#top {
    width: 100%;
    max-width: 1280px;
    height: 883px;
    background-image: url(/imagens/dog.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 140%, 130%;
    box-shadow: 
        inset -10px 0 300px rgba(0, 0, 0, 0.7), /* Vinheta esquerda */
        inset -20px 0px 800px rgba(0, 0, 0, 0.7); /* Vinheta direita */

}

#nav-menu {
    width: 100%;
    max-width: 1280px;
    height: 50px;
    display: flex;
    align-items: center;

    margin-bottom: 30px;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 30px;
   
}     
.logo {
        width: 159px;
        height: 32px;
        margin-right: 50px;
        
    }
  
#nav-menu ul { 
        font-size: 16px;
        display:flex;
        flex-direction: row;
        gap: 50px;
        margin-right: 180px;
}
#nav-menu ul a {
            color: aliceblue;
        }
               
    
#top button {
        margin-left: 50px;
        background: none; 
        border: none; 
        cursor: pointer; 
}

#top button img {
        width: 120px;
        height: 40px;
        background-position: relative;
        bottom: 20%;
    
} 
        
    

#hero_1 {
  
    color: #FFFFFF;
    width: 630px;
    height: 390px;
    margin-top: 130px;
    margin-left: 60px;
}

#hero_1 h1 {
        color: #FFFFFF;
        font-size: 50px;
        margin-bottom: 16px;
}

#hero_1 p {
        color: #FFFFFF;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 16px;
}

#hero_1 .custom-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 10px 20px;
        color: inherit;
        width: 184px;
        height: 64px;
        background: none;
        border: 1px solid white;
        border-radius: 50px;
        cursor: pointer; 
        font-size: 16px;
}
    #hero_1 .custom-button img {
        height:30px ;
        width: 30px;
}


.hero2 {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 1016px;
}
.hero2 h2 {
        font-size:30px;
        width: 1280px;
        height: 70px;
        border-bottom: 0.2px solid rgb(188, 184, 184);
}
.hero2 h2 img {
            width: 32px;
            height: 32px;
} 
    
.shop-box { 
    width: 1201px;
    height: 768px;
    margin: 108px 40px;
    padding: 20px;
    border: 0.2px solid #000000;
    border-bottom: none;
    display: flex;
    flex-direction: column;
}

.shop-box header .search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.shop-box header .search-bar h3 {
    font-size: 28px;
}
.shop-box header input {
    width: 230px;
    height: 35px;
    border-radius: 50px;
    background-color: #F4F4F4;
    padding-left: 40px;
    background-image: url(/imagens/Search.png);
    background-position: left 10px center;
    background-repeat: no-repeat;

}

.shop-box header nav {
    margin: 20px;
    display: flex;
    justify-content: center;
}               

.shop-box header nav ul {
    display: flex;
    gap: 50px;
}

#shop article .products-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}
#shop article .products-box .product-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: 0.3s ease;
    display: block;
    
   }
#shop article button {
    border: none;
    background-color: transparent;
    float: right;
}

#shop article .products-box .product-item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
}
#shop article .products-box .product-item:hover img {
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5); /* Sombra preta, cobrindo a imagem */
}

#shop article .products-box .product-item .product-price,
#shop article .products-box .product-item .product-favorite,
#shop article .products-box .product-item .product-description,
#shop article .products-box .product-item .product-quantity,
#shop article .products-box .product-item .add-to-cart {
    position: absolute;  
    opacity: 0;
    transition: opacity 0.3 ease;
    z-index: 10;

   }
#shop article .products-box .product-item:hover .product-price,
#shop article .products-box .product-item:hover .product-favorite,
#shop article .products-box .product-item:hover .product-description,
#shop article .products-box .product-item:hover .product-quantity,
#shop article .products-box .product-item:hover .add-to-cart {
       opacity: 1;
}

#shop article .products-box .product-item .product-price{
    top: 10px;
    left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    z-index: 11;
   }

#shop article .products-box .product-item .product-favorite{
    top: 10px;
    right: 10px;
    z-index: 10;
}
#shop article .products-box .product-item .product-favorite img{
    top: 10px;
    right: 10px;
    display: block;
    background-color: transparent;
    border-radius: 10px;
    z-index: 10;
}
#shop article .products-box .product-item .product-description{
    bottom: 50%; 
    left: 90px;
    color: white;
    text-align: center;
    z-index: 10;
}

#shop article .products-box .product-item .product-quantity{
    bottom: 10px;
    left: 25%;
    display: flex;
    justify-content: space-around;
    width: 60px;
    z-index: 10;
    color: #F4F4F4;
    background-color: #3722c0;
 }

 #shop article .products-box .product-item .product-quantity .increase, .decrease{
    bottom: 10px;
    left: 25%;
    display: flex;
    justify-content: space-around;
    width: 60px;
    z-index: 10;
    color: #F4F4F4;
    background-color: #3722c0;
 }
#shop article .products-box .product-item .add-to-cart {
    bottom: 10px;
    right: 25%;
    padding: 8px 12px;
    background-color: #3722c0;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
}
